<h1>Movie page</h1>

<p>
  <strong>Title: </strong>
</p>
<p>
  <%= @movie.title %>
</p>
<p>
  <strong>Directed by: </strong>
</p>
<p>
  <%= @movie.directed_by %>
</p>
<p>
  <strong>Written by: </strong>
</p>
<p>
  <%= @movie.written_by %>
</p>
<p>
  <strong>Release date:</strong>
</p>
<p>
  <%= @movie.release_date %>
</p>
<p>
  <strong>Length:</strong>
</p>
<p>
  <%= @movie.length %> min
</p>
  <strong>Plot: </strong>
</p>
<p>
  <%= @movie.description %>
</p>
